:root {
    --primary: rgb(29, 29, 20);
    --secondary:rgb(168, 168, 124);
    --background: rgba(255, 255, 255, 1);
    --text:    rgba(226, 249, 254, 1);
}


body {
    background: var(--background);
    
}

nav{
    background: var(--primary);
    color: var(--text);
    display: flex;
    width: 100vw;
    height: min-content;
    align-items: center;
    justify-content: space-evenly;
}

.tag {
    display:flex;
    align-items: center;
    width: max-content;
    height: 3vh;
    border-radius: 3px;
    background: var(--secondary);
    color: var(--text);
    border: none;
    padding: 0.2rem 0.5rem ;
    margin: 5px;
    box-shadow: -1px 2px 2px rgba(226, 249, 254, 0.3);
}

.next {
    outline: 2px solid rgba(226, 249, 254, 0.5);
    border-radius: 5px;
}

.nav-item {
    margin: 10px 0px;
    margin-left: 1px;
}

button{
    border: 0;
    background-color: transparent ;
}
